name: release fabric
on:
  push:
    tags:
      # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
      # Example: 1.0.0-MC1.19.x-fabric
      - "[0-9]+.[0-9]+.[0-9]+-MC[0-9]+.[0-9]+.[0-9x]+-fabric"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: build
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.1.1
          build-root-directory: fabric
          arguments: build
          cache-read-only: true
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG-fabric.md
          files: ./fabric/build/libs/**
